@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700&subset=latin,cyrillic);

html {

}


.ui-inputswitch-handle {


    background-color: #3b589a!important;
    background-image: none!important;

}

.ui-inputswitch {

    font-family: 'Roboto Condensed', sans-serif!important;
    font-size: 16px!important;

}


.button-link {
    border:none!important;
    background-color: transparent!important;
    cursor: pointer;
    color: #3b589a;
    font-family: 'Roboto Condensed', sans-serif!important;
    font-size: 16px!important;
    text-decoration: underline;
    padding: 0px;
}
.input-text, .hasDatepicker, .ui-autocomplete-input {
    font-family: 'Roboto Condensed', sans-serif!important;
    border:none!important;
    border-bottom: 2px solid #ccc!important;
    background-color: transparent!important;
    box-shadow: none!important;
    font-size: 16px!important;
    
        width: 200px;
}

.ui-fieldset-legend {
    background-color: rgb(38, 67, 132)!important;
    background-image: none!important;
    color: whitesmoke!important;
    text-shadow: none!important;
    font-size: 1em;   

}
.regtabs > .ui-tabs-nav {
    border: none!important;
    height: 600px;
    border-right: 1px solid #DDDDDD!important;

}
.regtabs > .ui-tabs-nav li {
        margin-right: -1px!important;
    
    
}



a {
    color: #3b589a;
    font-family: 'Roboto Condensed', sans-serif!important;
    font-size: 16px!important;
}

.ui-layout-unit-content {

    font-family: 'Roboto Condensed', sans-serif!important;
    font-size: 16px!important;
}

html, body, #page {
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    overflow-y: auto!important;
}
body > #page {
    height: auto; 
    min-height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,d1d1d1+100 */
    background: rgb(242,242,242); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(209,209,209,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(209,209,209,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(209,209,209,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */

}
#content {
    width: 90%;
    padding-bottom: 100px;  
    margin: auto;
    background-color: whitesmoke;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    margin-top: -20px;
    min-height: 800px;

}
#header {
    background: url(images/back.jpg);
    background-size: 100%;
    height: 180px;

    color: white;
}

#footer {
    position: relative;
    margin-top: -90px; /* ????????????? ???????? ?????? ?????? */
    height: 90px;
    clear:both;
    background-color: #222;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    border-top: #eee 1px solid;
    text-align: center;
    padding: 24px 12px;
}

.clearfix:after {content: ".";
                 display: block;
                 height: 0;
                 clear: both;
                 visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */



/*???????? ???????? ??????*/

.ui-clock {
    border: none!important;
    background: transparent!important;
    color: white!important;
    text-shadow: none!important;
    font-family: 'Roboto Condensed', sans-serif!important;
    font-weight:normal!important;
    display: inline-block!important;
    font-size: 16px!important;
}

.block-form {

    padding: 38px 12px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.1);
    min-height: 800px;
}



.ui-tabmenu-nav , .ui-tabmenu {
    background-color: #666!important;
    background-image: none!important;
    border-radius: 0!important;
    border: none!important;
    margin-top: -2px;
    margin-bottom: -2px!important;
}

.ui-tabmenuitem {
    background-color: #eee!important;
    background-image: none!important;
    padding: 4px 10px!important;
    text-shadow: none!important;
}
.ui-tabmenuitem .ui-state-hover {
    -webkit-transition: all 1s ease-out 0.1s;
    -moz-transition: all 1s ease-out 0.1s;
    -o-transition: all 1s ease-out 0.1s;
    transition: all 1s ease-out 0.1s;
}

.ui-tabmenuitem a  {
    -webkit-transition: color 1s ease-out 0.1s;
    -moz-transition: color 1s ease-out 0.1s;
    -o-transition: color 1s ease-out 0.1s;
    transition: color 1s ease-out 0.1s;
}


.ui-tabmenuitem:hover{

    background-color: #3b589a!important;

}

.ui-tabmenuitem a:hover{
    color: white!important;
}

.footlink {
    color: #999!important;
    font-size: 12px!important;
    padding: 1px 12px;

}



#block-menu {


}
.blmenu-item {

    height: 130px;
    width: 130px;
    text-align: center;
    background-color: rgb(12, 33, 80);
    display: block;
    line-height: 130px;
    color: whitesmoke!important;
    margin: 0;
    font-size: 1em;
    -webkit-transition: all 1s ease-out 0.001s;
    -moz-transition: all 1s ease-out 0.001s;
    -o-transition: all 1s ease-out 0.001s;
    transition: all 1s ease-out 0.001s;
}

.blmenu-item:hover {

    background-color: rgb(193, 11, 52);

}

#menu, #menu form {

    width: 100%;
}
